<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Mohd Talha</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" 
    rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Mohd Talha</h1>
            <p class="lead text-muted">
              I am a passionate programmer dedicated to continuous learning and growth. With a strong problem-solving mindset, I find joy in tackling complex challenges and discovering innovative solutions. 
              My enthusiasm for programming fuels my drive to deliver high-quality results and stay at the forefront of technological advancements.
            </p>
            <p>
              <a href="https://www.linkedin.com/in/motalha/" class="btn btn-primary my-2">LinkedIn</a>
              <a href="https://github.com/taltrums" class="btn btn-secondary my-2">Github</a>
              <a href="https://twitter.com/taltrums" class="btn btn-secondary my-2">Twitter</a>
              <a href="https://instagram.com/taltrums.exe/" class="btn btn-secondary my-2">Instagram</a>
            </p>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for project in projects.all %}
            <div class="col">
              <a href="{% url 'detail' project.id %}">
              <div class="card shadow-sm">
                <img class="card-img-top" src=" {{ project.image.url }}">

                <div class="card-body">
                  <p class="card-text">
                    {{ project.summary }}
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    
    </main>
    <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
